################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/OwncloudUniversal.BackgroundSync/obj/Debug
/owncloud_universal.shared/obj/Debug
/owncloud universal/obj/x86/Debug
/owncloud universal/project.lock.json
/owncloud_universal.shared/project.lock.json
/OwncloudUniversal.BackgroundSync/project.lock.json
/OwncloudUniversal.BackgroundSync/obj
/OwncloudUniversal.BackgroundSync/bin
/owncloud_universal.shared/bin
/owncloud_universal.shared/obj
/owncloud universal/bin
/owncloud universal/obj
